.item {
    display: flex;
    align-items: center;
  }
  .item:not(:last-child) {
    margin-bottom: 10px;
  }
  .input {
    padding: 10px;
    font-size: 15px;
    width: 30%;
  }
  .label {
    display: flex;
    flex-direction: column;
  }
  .text {
    margin: 0;
    display: inline-block;
  }
  .button {
    display: block;
    background-color: transparent;
    padding: 5px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid rgb(187, 182, 182);
  }